<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBnNyVxbmqIV1Hw_7UzNEFIFNdGDC0PcSU</string>
	<key>GCM_SENDER_ID</key>
	<string>65970955168</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.demo4.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>demo4-f9a7a</string>
	<key>STORAGE_BUCKET</key>
	<string>demo4-f9a7a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:65970955168:ios:7c92a1fc77175c5c5cbac5</string>
</dict>
</plist>